# Для бэкенда
DATABASE_URL=postgresql://notes_user:secure_password@db:5432/notes_db?schema=public

# Для фронтенда
NEXT_PUBLIC_API_URL=http://localhost:8080

# Для DB
DB_HOST=db
DB_PORT=5432
DB_USER=notes_user
DB_PASSWORD=secure_password
DB_NAME=notes_db
